<h2 id="title">Welcome to Ember</h2>

{{#sticky-header class='sticky-header'}}Hi!{{/sticky-header}}

<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>

{{#sticky-header class='sticky-header'}}One More!{{/sticky-header}}

<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
<p>Dummy text</p>
